.footer{
  color: white;
  background-color: $yellow;
  height: 892px;

  h5{
    padding: 270px 115px 89px 0;
  }

  &__social{
    a{
      margin-right: 25px;
      display: inline-block;
    }
    img{
      height: 47px;
    }
  }

  &__image-wrapper{
    display: flex;
    align-items: center;
  }
}
