.footer{
  color: white;
  background-color: $yellow;
  height: 892px;

  @include media-breakpoint-down(lg){
    height: 1000px;
  }

  @include media-breakpoint-down(md){
    height: 1300px;
  }

  h5{
    padding: 270px 115px 89px 0;

    @include media-breakpoint-down(md){
      padding: 0 65px;
      text-align: center;
    }
  }

  &__social{
    a{
      margin-right: 25px;
      display: inline-block;
    }
    img{
      height: 47px;
    }

    @include media-breakpoint-down(md){
      margin-top: 95px;
      text-align: center;
    }
  }

  &__image-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
