.header{
  background-color: #fff;
  height: 120px;
  padding: 20px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 10;

  &__row{
    position: relative;
  }

  &__icon{
    position: absolute;
    top: 0;
    right: 0;
  }
}
