.header{
  background-color: #fff;
  height: 120px;
  padding: 20px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 10;

  &__container{
    display: flex;
    align-items: center;
    position: relative;
  }

  &__icon{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &__row{
    width: 100%;
    text-align: center;

    @include media-breakpoint-up(md){
      position: relative;
    }
  }
}
