.section{

  &--banner{
    height: 900px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md){
      height: 1700px;
    }

    h2{
      padding-top: 120px;
    }

    h4{
      margin-top: 30px;
    }

    .banner-wrapper{
      position: relative;
    }

    .ilustrative_image{
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;

      @include media-breakpoint-down(md){
        position: relative;
      }
    }
  }

  &--silux{
    padding: 400px 0;

    @include media-breakpoint-down(md){
      padding: 160px 0;
      text-align: center;

      img{
        margin-bottom: 90px;
      }
    }
  }

  &--contact{
    padding: 300px 0 290px;
    h3{ margin-bottom: 55px }

    @include media-breakpoint-down(md){
      padding-bottom: 150px;
      h3{ margin-bottom: 250px 0 35px }
    }
  }
}
