.section{

  &--banner{
    height: 900px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md){
      height: auto;
    }

    h2{
      padding-top: 120px;
    }

    h4{
      margin-top: 30px;
    }

    .banner-wrapper{
      position: relative;
    }

    .ilustrative_image{
      width: 484px;
      position: absolute;
      bottom: 0;

      @include media-breakpoint-down(md){
        position: relative;
        transform: translate(-50%);
      }
    }
  }

  &--silux{
    text-align: center;
  }
}
