.box{
  padding: 65px 65px 30px 130px;
  width: 50%;

  @media (max-width: 1500px){
    padding: 50px 50px 30px 100px;
  }

  @include media-breakpoint-down(lg){
    padding: 30px;
  }

  @include media-breakpoint-down(md){
    background-color: $purple;
    width: 100%;
    margin-bottom: 80px;
    padding: 0 45px !important;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 375px;

    p{ line-height: 37px; }
  }

  @media (max-width: 580px){
    padding: 0 15px !important;
    p{ line-height: 25px; }
  }

  @include media-breakpoint-down(sm){
    margin: 20px 0;
  }

  p{ color: white; }

  &--top{
    border-bottom: 3px solid #fff;
    padding-bottom: 55px;

    @include media-breakpoint-down(md){
      padding: 0 80px !important;
    }
    @media (max-width: 580px){
      padding: 0 15px !important;
    }
  }

  &--left{
    border-right: 3px solid #fff;
    padding-right: 135px;
    padding-left: 65px;

    @media (max-width: 1500px){
      padding-right: 90px;
    }
    @include media-breakpoint-down(lg){
      padding-left: 30px;
      padding-right: 60px;
    }
  }

  &:last-child{
    padding-left: 75px;
    padding-right: 10px;
  }

}
