body{
  font-family: 'Akrobat';
}

.offset-none{
  @media (max-width: 1500px){
    margin-left: 0;
  }
}

.container-fluid{
  padding: 0 100px;
  height: 100%;

  @include media-breakpoint-down(md){
    padding: 0 80px;
  }
}

img{
  display: block;
  max-width: 100%;
}

h2{
  font-size: 82px;

  @include media-breakpoint-down(sm){
    font-size: 82px
  }

  @include media-breakpoint-down(xs){
    font-size: 41px
  }
}

h3{
  font-size: 75px;
  font-weight: 300;
  line-height: 1;

  @include media-breakpoint-down(md){
    font-size: 75px
  }

  @include media-breakpoint-down(xs){
    font-size: 37px
  }
}

h4{
  font-size: 41px;
  font-weight: bold;

  @include media-breakpoint-down(md){
    font-size: 41px;
  }

  @include media-breakpoint-down(xs){
    font-size: 20px;
  }

}

h5{
  font-size: 57px;

  @include media-breakpoint-down(md){
    font-size: 55px;
  }

  @include media-breakpoint-down(xs){
    font-size: 28px;
  }

}

p{
  font-size: 25px;
  line-height: 40px;
  color: #666;

  @include media-breakpoint-down(md){
    font-size: 27px;
    line-height: 47px;
  }
  @include media-breakpoint-down(xs){
    font-size: 12px;
    line-height: 20px;
  }

}

em{
  font-weight: bold;
}
